asgiref==3.7.2
certifi==2023.7.22
cffi==1.15.1
charset-normalizer==3.2.0
cryptography==41.0.3
dj-database-url==2.1.0
dj-user-login-history==1.0.5
Django==4.2.5
django-environ==0.11.2
djangorestframework==3.14.0
gunicorn==21.2.0
idna==3.4
mysqlclient==2.2.0
packaging==23.1
Pillow==10.0.0
psycopg2-binary==2.9.7
pycparser==2.21
python-decouple==3.8
pytz==2023.3.post1
requests==2.31.0
sqlparse==0.4.4
typing_extensions==4.7.1
tzdata==2023.3
urllib3==2.0.4
