{% extends 'base.html' %}
{% block title %}Veripas - Login{% endblock %}
{% block content %}
<div class="container col-md-5 mt-5">
<form method="POST">
    {% csrf_token %}
    <h3 class="text-primary">Login<i class="bi bi-person-badge"></i></h3>
    
    {% if messages %}
        <ul class="messages mt-5">
            {% for message in messages %}
                <code><b>Warning: {{ message }}</b></code>
            {% endfor %}
        </ul>
    {% endif %}
    <br>
    {{form.username}}
    <br>
    {{form.password}}
    <br>
    <button class="btn btn-primary" type="submit">Login</button>
    <a class="text-primary" style="text-decoration:none; margin-left: 10px;" href="{% url 'register' %}">Don't have an account? Register.</a>
</form>
</div>
{% endblock content %}

