
<!-- NEW NAVBAR -->

<nav class="navbar navbar-expand-lg navbar-light bg-light" aria-label="Offcanvas navbar large">
  <div class="container-fluid">
    <a class="navbar-brand me-2" href="{% url 'home' %}">
      <img
        src="https://i.ibb.co/XVr2fYm/veripas-logo-removebg-preview.png"
        height="36"
        alt="Veripas Logo"
        loading="lazy"
        style="margin-top: -1px;"
      />
    </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar2" aria-controls="offcanvasNavbar2" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas offcanvas-end text-bg-light" tabindex="-1" id="offcanvasNavbar2" aria-labelledby="offcanvasNavbar2Label">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasNavbar2Label">
          <a href="{% url 'home' %}">
          <img
          src="https://i.ibb.co/XVr2fYm/veripas-logo-removebg-preview.png"
          height="36"
          alt="Veripas Logo"
          loading="lazy"
          style="margin-top: -1px;"
        />
      </a>
            </h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item">

            <a class="nav-link active mt-2 me-1 lnk" aria-current="page" href="{% url 'home' %}">
              <!-- <p class="bi bi-house px-3"> -->
                <span>Home</span>
              </p>
            </a>
          </li>

          <a class="nav-link active mt-2 me-1 lnk" aria-current="page" href="{% url 'generate-password' %}">
            <!-- <i class="bi bi-gear"></i> -->
              <span>Password Generator</span>
            </p>
          </a>
        </li>
          {% if user.is_authenticated %}

          <li class="nav-item me-2">
            <a class="nav-link active mt-2 lnk" href="{% url 'user-details' %}">
            <!-- <p class="bi bi-list-ul "> -->
              <span>My List</span>
            </p>
            
            
            </a>
          </li>
          <a href="#">
            <p class="btn btn-outline-secondary  me-3 mt-2"><i class="bi bi-person-badge me-2"></i>Hi, {{user.username | title}}</p>
          </a>

          <a class="btn btn-danger mt-2" style="height: 40px;" href="{% url 'logout' %}"><i class="bi bi-box-arrow-right"></i></a>

          {% else %}
        </ul>

        <a class="btn btn-primary me-2 mt-2" style="height: 40px;" href="{% url 'login' %}">Login</a>
        <a class="btn btn-success mt-2" style="height: 40px;"href="{% url 'register' %}">Register</a>

        {% endif %}
      </div>
    </div>
  </div>
</nav>
