{% extends 'base.html' %}
{% block title %}Veripas - Password Generator{% endblock %}
{% block content %}
<div class="container col-md-5 mt-5" style="text-align: center; align-items: center;">
    
    <h1>Password Generator <i class="bi bi-gear"></i></h1>
    <form method="post" class="mt-5">
        {% csrf_token %}
        <label for="length">Password Length:</label>
        <div class="row row-cols-lg-auto g-3  mt-2" >
            <input class="form-control col-12 me-2" style="margin-left: 170px; text-align: center; width: 75px;" type="number" id="length" name="length" min="6" max="64" value="12">
            <button class="btn btn-primary col-12" type="submit">Generate Password</button>
        </div>
    </form>
    <h4 class="mt-4">Generated Password:</h4>
    <p id="generated-password">{{ password }}</p>
    <button id="copy-button" class="btn btn-outline-success"><i class="bi bi-clipboard"></i> Copy to Clipboard</button>

</div>

<script>
    // JavaScript code for copying generated password to clipboard
    const copyButton = document.getElementById('copy-button');
    const generatedPassword = document.getElementById('generated-password');

    copyButton.addEventListener('click', () => {
        const passwordText = generatedPassword.innerText;

        // Create a temporary input element to copy the password
        const tempInput = document.createElement('input');
        tempInput.value = passwordText;
        document.body.appendChild(tempInput);
        tempInput.select();
        document.execCommand('copy');
        document.body.removeChild(tempInput);

        // Provide user feedback
        alert('Password copied to clipboard: ' + passwordText);
    });
</script>

{% endblock content %}